html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: whitesmoke;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.box{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: pink;
}
.buttton {
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: #fff;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.5);
    background: indianred;
}
